{% extends "base.html" %}
{% load static %}

{% block content %}

<head>
    <style>
        .product-img img {
          height: 275px;
          width: 100px;
        }
      
        @media (max-width: 767px) {
          .product-img img {
            height: 275px;
            width: 75px;
          }
          .card {
            padding-right: 2rem;
            padding-left: 2rem;
            padding-bottom: 1rem;
          }
        }
      </style>
</head>

<div id="header-carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" style="height: 410px;">
            <img class="img-fluid w-100" src="{% static 'one.png' %}" alt="Image">
        </div>
        <div class="carousel-item" style="height: 410px;">
            <img class="img-fluid w-100" src="{% static 'two.png' %}" alt="Image">
        </div>
        <div class="carousel-item" style="height: 410px;">
            <img class="img-fluid w-100" src="{% static 'three.png' %}" alt="Image">
        </div>
    </div>
    <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
        <div class="btn btn-dark" style="width: 45px; height: 45px;">
            <span class="carousel-control-prev-icon mb-n2"></span>
        </div>
    </a>
    <a class="carousel-control-next" href="#header-carousel" data-slide="next">
        <div class="btn btn-dark" style="width: 45px; height: 45px;">
            <span class="carousel-control-next-icon mb-n2"></span>
        </div>
    </a>
</div>

  <!-- Products Start -->
  <div class="container-fluid pt-5 card">
      <div class="text-center mb-4">
          <h2 class="section-title px-5"><span class="px-2">Trandy Products</span></h2>
      </div>
      <div class="row px-xl-5 pb-3">
          <!-- Item Card loop starts -->
        {% for item in object_list %}
          <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
              <div class="card product-item border-0 mb-4 ">
                <div class="pr">
                  <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                      <a href="{{ item.get_absolute_url }}">
                        <img class="img-fluid w-100" src="{{ item.image.all.first.image.url }}" alt="">
                      </a>
                  </div>
                  <div class="bottom">
                    <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                        <h6 class="text-truncate mb-3">{{item.title}}</h6>
                        <div class="d-flex justify-content-center">
                            <h6>{{item.price}}</h6><h6 class="text-muted ml-2">
                                {% if item.discount_price %}
                                    <del>{{item.discount_price}}</del>
                                {% endif %}
                            </h6>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-between bg-light border">
                        <a href="{{ item.get_absolute_url }}" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                        <a href="{{ item.get_add_to_cart_url }}" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
                    </div>
                </div>
                </div>
              </div>
          </div>
        {% endfor %}
          <!-- Item card loop ends -->
      </div>
  </div>
  <!-- Products End -->

  <!--Pagination-->
  {% if is_paginated %}
  <nav class="d-flex justify-content-center wow fadeIn">
    <ul class="pagination pg-blue">

      {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      {% endif %}

      <li class="page-item active">
        <a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}
          <span class="sr-only">(current)</span>
        </a>
      </li>

      {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}


  <!-- Subscribe Start -->
  <div class="container-fluid bg-secondary my-5">
      <div class="row justify-content-md-center py-5 px-xl-5">
          <div class="col-md-6 col-12 py-5">
              <div class="text-center mb-2 pb-2">
                  <h2 class="section-title px-5 mb-3"><span class="bg-secondary px-2">Stay Updated</span></h2>
                  <p>Amet lorem at rebum amet dolores. Elitr lorem dolor sed amet diam labore at justo ipsum eirmod duo labore labore.</p>
              </div>
              <form action="">
                  <div class="input-group">
                      <input type="text" class="form-control border-white p-4" placeholder="Email Goes Here">
                      <div class="input-group-append">
                          <button class="btn btn-primary px-4">Subscribe</button>
                      </div>
                  </div>
              </form>
          </div>
      </div>
  </div>
  <!-- Subscribe End -->


  {% comment %} <!-- Products Start -->
  <div class="container-fluid pt-5">
      <div class="text-center mb-4">
          <h2 class="section-title px-5"><span class="px-2">Just Arrived</span></h2>
      </div>
      <div class="row px-xl-5 pb-3">
        {% for item in item_object %}
          <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
              <div class="card product-item border-0 mb-4">
                  <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
                      <img class="img-fluid w-100" src="img/product-8.jpg" alt="">
                  </div>
                  <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                      <h6 class="text-truncate mb-3">{{item.title}}</h6>
                      <div class="d-flex justify-content-center">
                          <h6>$123.00</h6><h6 class="text-muted ml-2"><del>$123.00</del></h6>
                      </div>
                  </div>
                  <div class="card-footer d-flex justify-content-between bg-light border">
                      <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                      <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
                  </div>
              </div>
              {% endfor %}
          </div>
      </div>
  </div>
  <!-- Products End --> {% endcomment %}



  <!-- Back to Top -->
  <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>



{% endblock content %}