{% load static %}

<head>
    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
</head>

    <!-- Topbar Start -->
    <div class="row align-items-center py-3 px-xl-5">
        <div class="col-lg-3 d-none d-lg-block">
            <a href="" class="text-decoration-none pl-3">
                <img src="{% static 'img/logo.png' %}" alt="logo" width="70%" />
            </a>
        </div>
        <div class="col-lg-6 col-6 text-left">
            <form action="{% url 'core:search_results' %}"  method="get">
                <div class="input-group">
                    <input type="search" name="q" class="form-control" placeholder="Search for products" class="form-control">
                    <div class="input-group-append">
                        <span class="input-group-text bg-transparent text-primary">
                            <i class="fa fa-search"></i>
                        </span>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-3 col-6 text-right">
            <a href="" class="btn border">
                <i class="fas fa-heart text-primary"></i>
                {% comment %} <span class="badge">0</span> {% endcomment %}
            </a>
            <a href="{% url 'core:order-summary' %}" class="btn border">
                <i class="fas fa-shopping-cart text-primary"></i>
                {% comment %} <span class="badge">0</span> {% endcomment %}
            </a>
        </div>
    </div>
</div>
<!-- Topbar End -->


    <!-- Navbar Start -->
    <div class="container-fluid mb-5">
        <div class="row border-top px-xl-5">
            <div class="col-lg">
                <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                    <a href="" class="text-decoration-none d-block d-lg-none pl-3" style="width: 50%">
                        <img src="{% static 'img/logo.png' %}" alt="logo" width="70%" />
                    </a>
                    <button type="button" class="navbar-toggler sidebar_button" data-toggle="collapse" data-target="#sidebar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    {% if user.is_authenticated %}
                        <div class="collapse navbar-collapse justify-content-between mb-3 mt-3" id="navbarCollapse">
                            <div class="navbar-nav ml-auto py-0">
                                <a href="{% url 'core:profile-view' %}" class="nav-item nav-link">Profile</a>
                                <a href="{% url 'core:orders-view' %}" class="nav-item nav-link">Orders</a>
                                <a href="{% url 'account_change_password' %}" class="nav-item nav-link">Change Password</a>
                                <a href="{% url 'account_logout' %}" class="nav-item nav-link">Logout</a>
                            </div>
                        </div>
                    {% else %}
                        <div class="collapse navbar-collapse justify-content-between mb-3 mt-3" id="navbarCollapse">
                            <div class="navbar-nav ml-auto py-0">
                                <a href="{% url 'account_login' %}" class="nav-item nav-link">Login</a>
                                <a href="{% url 'account_signup' %}" class="nav-item nav-link">Register</a>
                            </div>
                        </div>
                    {% endif %}
                    <!-- categories section mobile start -->
                <div id="sidebar" class="sidebar mobile_view collapse">
                    <div class="sidebar-top">
                        <button type="button" class="navbar-toggler sidebar_button" data-toggle="collapse" data-target="#sidebar">
                            <i class="fas fa-times"></i>
                        </button>
                        <ul class="nav_list">
                            <li>
                                <a href="{% url 'core:search_results' %}?q=Bags">
                                    <span class="links_name">Bags</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'core:search_results' %}?q=Pastery">
                                    <span class="links_name">Pastery</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'core:search_results' %}?q=Candles">
                                    <span class="links_name">Candles</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'core:search_results' %}?q=Pottery">
                                    <span class="links_name">Pottery</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'core:search_results' %}?q=Valentine">
                                    <span class="links_name">Valentine's</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'core:search_results' %}?q=Rose">
                                    <span class="links_name">Rose</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'core:search_results' %}?q=Comics">
                                    <span class="links_name">Comics</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'core:search_results' %}?q=Teddy">
                                    <span class="links_name">Teddy</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'core:search_results' %}?q=Cushions">
                                    <span class="links_name">Cushions</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'core:search_results' %}?q=Couples">
                                    <span class="links_name">Couples</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'core:search_results' %}?q=Bubu Dudu">
                                    <span class="links_name">Bubu Dudu</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    {% if user.is_authenticated %}
                        <div class="authentication_buttons">
                            <span class="auth_buttons"><a href="{% url 'core:profile-view' %}">Profile</a></span>
                            <span class="auth_buttons"><a href="{% url 'core:orders-view' %}">Orders</a></span>
                            <span class="auth_buttons"><a href="{% url 'account_change_password' %}">Change Password</a></span>
                            <span class="auth_buttons"><a href="{% url 'account_logout' %}">Logout</a></span>
                        </div>
                    {% else %}
                        <div class="authentication_buttons">
                            <span class="auth_buttons"><a href="{% url 'account_login' %}">Login</a></span>
                            <span class="auth_buttons"><a href="{% url 'account_signup' %}">Signup</a></span>
                        </div>
                    {% endif %}
                </div>


                <!-- categories section mobile end -->
                </nav>

                <!-- Categories Section desktop start -->
                <div class="col-lg category-section desktop_view">
                    <a class="btn categories-tab shadow-none align-items-center justify-content-between bg-primary text-white w-100" data-toggle="collapse" href="#navbar-vertical" style="height: 65px; margin-top: -1px; padding: 0 30px;">
                        <h6 class="m-0">Categories</h6>
                        <i class="fa fa-angle-down text-dark"></i>
                    </a>
                    <nav class="collapse show navbar navbar-light p-0" id="navbar-vertical">
                        <div class="navbar-nav category-nav w-100">
                            <a href="{% url 'core:search_results' %}?q=Teddy" class="nav-item category-nav-item nav-link">Teddy</a>
                            <a href="{% url 'core:search_results' %}?q=Cushions" class="nav-item category-nav-item nav-link">Cushions</a>
                            <a href="{% url 'core:search_results' %}?q=Couples" class="nav-item category-nav-item nav-link">Couples</a>
                            <a href="{% url 'core:search_results' %}?q=Bubu Dudu" class="nav-item category-nav-item nav-link">Bubu Dudu</a>
                            <a href="{% url 'core:search_results' %}?q=Comics" class="nav-item category-nav-item nav-link">Comics</a>
                            <a href="{% url 'core:search_results' %}?q=Rose" class="nav-item category-nav-item nav-link">Rose</a>
                            <a href="{% url 'core:search_results' %}?q=Valentine" class="nav-item category-nav-item nav-link">Valentine's</a>
                            <a href="{% url 'core:search_results' %}?q=Pottery" class="nav-item category-nav-item nav-link">Pottery</a>
                            <a href="{% url 'core:search_results' %}?q=Candles" class="nav-item category-nav-item nav-link">Candles</a>
                            <a href="{% url 'core:search_results' %}?q=Bags" class="nav-item category-nav-item nav-link">Bags</a>
                            <a href="{% url 'core:search_results' %}?q=Pastery" class="nav-item category-nav-item nav-link">Pastery</a>
                        </div>
                    </nav>
                </div>
                <!-- Categories section desktop end -->
          </div>
        </div>
      </div>


            </div>
        </div>
    </div>
    <!-- Navbar End -->
</div>